.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    padding: 32px;
}
.title {
    padding-left: 32px;
    font-size: 24px;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.first-content-left {
    display: flex;
    flex-direction: column;
    padding: 36px;
    flex-shrink: 0;
}
.first-content {
    display: flex;
    justify-content: center;
    padding: 36px;
    background-color: #1F2937;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
}
.awesome {
    font-weight: bold;
    font-size: 48px;
}
.signup {
    width: 100px;
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.subtext {
    width: 300px;
    color: #e5e7eb;
}
.image1 {
    border: 2px solid blue;
    border-radius: 6px;
    margin: 8px;
}
.random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}
.subtext2 {
    text-align: center;
    width: 150px;
    font-size: 11px;
    color: #1F2937;
}
.blue-images {
    display: flex;
    
}
.group1, .group2, .group3, .group4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.stuff {
    display: flex;
    justify-content: center;
    align-items: center;

}
h2 {
    padding: 24px;
    padding-top: 48px;
}
.quote-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    padding:72px;
}
.quote {
    width: 500px;
    text-align: center;
    text-emphasis: bold;
    font-size: 20px;
    font-style: italic;
    color: #1F2937;
}
.source {
    padding-left: 250px;
    font-weight: bold;
    color: black;
}
.rectangle {
    width: 1000px;
    height: 100px;
    border: none;
    border-radius: 6px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.call-to-action {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.button {
    border: none;
    color: #3882f6;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 100px;
    height: 50px;
}
.idk {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    padding: 16px;
}
.call {
    font-weight: bold;
    font-size: 16px;
}
.random {
    padding: 100px;
}