.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    padding: 32px;
}
.title {
    padding-left: 32px;
    font-size: 24px;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.first-content-left {
    display: flex;
    flex-direction: column;
    padding: 36px;
    flex-shrink: 0;
}
.first-content {
    display: flex;
    justify-content: center;
    padding: 36px;
    background-color: #1F2937;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
}
.awesome {
    font-weight: bold;
    font-size: 48px;
}
.signup {
    width: 100px;
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.subtext {
    width: 300px;
    color: #e5e7eb;
}
.image1 {
    border: 2px solid blue;
    border-radius: 6px;
   
    margin: 8px;
}
.random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.subtext2 {
    display: flex;
    justify-content: center;
    color: black;
    width: 500px;
}
.blue-images {
    display: flex;
    
}